NODE_ENV=production
PORT=8080

# === SUPABASE DB ===
DATABASE_URL=postgresql://postgres:TU_PASSWORD_SUPABASE@db.pwukbujyinlgqsafreqe.supabase.co:5432/postgres

# === SUPABASE CONFIG ===
SUPABASE_URL=https://pwukbujyinlgqsafreqe.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_cBi6xeLZEVmGH-0vbjGYXw_FS8sIULo

# === JWT / AUTH ===
JWT_SECRET=GENERAR_CON_npm_run_generate_secrets
JWT_REFRESH_SECRET=GENERAR_CON_npm_run_generate_secrets

# === FRONTEND ===
CORS_ORIGIN=https://tu-frontend.com

# === SWAGGER ===
ENABLE_SWAGGER=true
SWAGGER_BASIC_AUTH=true
SWAGGER_USER=admin
SWAGGER_PASSWORD=GENERAR_CON_npm_run_generate_secrets

# === CRONJOBS ===
CRON_SECRET=GENERAR_CON_npm_run_generate_secrets

# === STORAGE ===
REPORT_STORAGE_MODE=download
REPORT_BUCKET=reports

# === LOGS ===
LOG_LEVEL=info
LOG_DIR=logs

# === DNI API ===
DNI_API_PROVIDER=apis_net_pe
DNI_API_URL=https://api.apis.net.pe/v2/reniec/dni
DNI_API_TOKEN=COLOCAR_SOLO_SI_APLICA
