-- Add overtime fields to attendance_records
ALTER TABLE public.attendance_records
ADD COLUMN IF NOT EXISTS overtime_active BOOLEAN DEFAULT false,
ADD COLUMN IF NOT EXISTS max_overtime_minutes INTEGER,
ADD COLUMN IF NOT EXISTS overtime_activated_by UUID REFERENCES public.users(id),
ADD COLUMN IF NOT EXISTS overtime_activated_at TIMESTAMP WITH TIME ZONE;
